@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    // Layout för sidan
    Layout = "mainLayout.cshtml";

    // Hämta bild-URLs för projektsektionen
    var projectsImage = Model?.Value<IPublishedContent>("projectsImage")?.Url() ?? "default-image-url";
    var projectImage1 = Model?.Value<IPublishedContent>("projectImage1")?.Url() ?? "default-image-url";
    var projectImage2 = Model?.Value<IPublishedContent>("projectImage2")?.Url() ?? "default-image-url";
    var projectImage3 = Model?.Value<IPublishedContent>("projectImage3")?.Url() ?? "default-image-url";
}

<!-- Sektion för projekt -->
<section class="projects">
    <div class="container">
        <div class="projects-list">
            <!-- Första projektet -->
            <div class="project-container">
                <img src="@projectsImage" alt="Project Image">
                <div class="project-content">
                    <h5>@Model.Value("projectTitle")</h5>
                    <div class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <p>@Model.Value("projectDate")</p>
                    </div>
                    <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit orci sit amet velit.</p>
                    <a href="/our-projects/annual-report/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <!-- Andra projektet -->
            <div class="project-container">
                <img src="@projectImage1" alt="Project Image">
                <div class="project-content">
                    <h5>@Model.Value("projectTitle1")</h5>
                    <div class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <p>@Model.Value("projectDate1")</p>
                    </div>
                    <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit orci sit amet velit.</p>
                    <a href="/annualReport/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <!-- Tredje projektet -->
            <div class="project-container">
                <img src="@projectImage2" alt="Project Image">
                <div class="project-content">
                    <h5>@Model.Value("projectTitle2")</h5>
                    <div class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <p>@Model.Value("projectDate2")</p>
                    </div>
                    <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit orci sit amet velit.</p>
                    <a href="/annualReport/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <!-- Fjärde projektet -->
            <div class="project-container">
                <img src="@projectImage3" alt="Project Image">
                <div class="project-content">
                    <h5>@Model.Value("projectTitle3")</h5>
                    <div class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <p>@Model.Value("projectDate3")</p>
                    </div>
                    <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit orci sit amet velit.</p>
                    <a href="/annualReport/">Read more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <!-- Sidnavigering -->
            <div class="pagination">
                <button class="btn prev-next none">Prev</button>
                <button class="btn number active">1</button>
                <button class="btn number">2</button>
                <button class="btn prev-next">Next</button>
            </div>
        </div>

        <!-- Sidofält för taggar -->
        <aside class="sidebar">
            <h5>@Model.Value("Tags")</h5>
            <button class="btn tag-btn">Tag 1</button>
            <button class="btn tag-btn">Tag 2</button>
            <button class="btn tag-btn">Tag 3</button>
            <button class="btn tag-btn">Tag 4</button>
            <button class="btn tag-btn">Tag 5</button>
            <form class="support-box bg-primary" method="get" novalidate>
                <h5>@Model.Value("HelpYou")</h5>
                <p class="support-text">@Model.Value("HelpYouText")</p>
                <div class="input-container">
                    <input type="email" id="email" name="email" placeholder="E-mail address">
                    <button class="btn"><i class="fa-regular fa-envelope"></i></button>
                </div>
            </form>
        </aside>
    </div>
</section>

<!-- Kontaktinformation -->
@await Html.PartialAsync("components/contactinfo")
